body {
    font-family: sans-serif sans-serif;
    margin: 40px;
    padding: 5px;
    background-color: #e3f86e;
}
.textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
}
button {
    background-color: #ffffff;
    color: rgb(225, 34, 34);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.output {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-height: 50px;
    font-size: 16px;
    white-space: pre-wrap;
}
.output added {
    color: rgb(83, 128, 0);
}
.output removed {
    color: rgb(255, 94, 0);
}